$primary-color: #be4c69;
$secondary-color: #8e65aa;
$secondary-color-dark: #2b1f35;
$tertiary-color: #e0d7e5;

$light-color: #f5f5f5;
$dark-color: #222;

$danger-color: #ff0000;
$warning-color: #ffae00;
$success-color: #00ff00;
$info-color: #00ffff;
